@using MoviesCRUD_MVC.Models
@model LoginPO
@{
    ViewBag.Title = "Login";
}

@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    <div class="form-horizontal">
        @if (TempData.ContainsKey("UserError"))
        {
            <p class="alert-danger">@TempData["UserError"]</p>
        }
        @if (TempData.ContainsKey("ErrorMessage"))
        {
            <p class="alert-danger">@TempData["ErrorMessage"]</p>
        }

        @Html.LabelFor(model => Model.Username)
        <div class="form-group">
            @Html.TextBoxFor(model => Model.Username, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => Model.Username, null, new { @class = "text-danger" })
        </div>

        @Html.LabelFor(model => Model.Password)
        <div class="form-group">
            @Html.PasswordFor(model => Model.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => Model.Password, null, new { @class = "text-danger" })
        </div>

        <input type="submit" value="Login" />

    </div>
}
